body {
  font-family: "Roboto";
  margin: 0 auto;
  max-width: 80%;
}

nav {
  margin-top: 50px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  align-content: center;
}

.hero {
  width: 70%;
  margin: 0 auto;

  align-content: center;
}

.hero h1,
p {
  text-align: center;
}

h1 {
  font-size: 60px;
}

.hero button {
  padding: 20px;
  border-radius: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
